<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Products</h2>
                <svg class="icon collapsible__chevron" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512"><path fill-rule="nonzero" d="M256 0c70.684 0 134.695 28.657 181.019 74.981C483.342 121.305 512 185.308 512 256c0 70.691-28.658 134.695-74.981 181.018C390.695 483.342 326.691 512 256 512s-134.695-28.658-181.019-74.982C28.658 390.695 0 326.691 0 256c0-70.692 28.658-134.695 74.981-181.019C121.305 28.657 185.309 0 256 0zm-79.003 200.641c-30.983-17.862-46.316 6.963-29.012 25.063l88.741 101.045c16.129 16.137 22.426 16.137 38.563 0l88.741-101.045c17.18-18.187 2.203-42.867-29.02-25.063l-79.003 46.931-79.01-46.931z"/></svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a class="footer__list" href="#">WebSite Hosting</a></li>
                    <li><a class="footer__list" href="#">Free Automated Wordpress</a></li>
                    <li><a class="footer__list" href="#">Migrations</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading  footer__heading">Company</h2>
                <svg class="icon collapsible__chevron" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512"><path fill-rule="nonzero" d="M256 0c70.684 0 134.695 28.657 181.019 74.981C483.342 121.305 512 185.308 512 256c0 70.691-28.658 134.695-74.981 181.018C390.695 483.342 326.691 512 256 512s-134.695-28.658-181.019-74.982C28.658 390.695 0 326.691 0 256c0-70.692 28.658-134.695 74.981-181.019C121.305 28.657 185.309 0 256 0zm-79.003 200.641c-30.983-17.862-46.316 6.963-29.012 25.063l88.741 101.045c16.129 16.137 22.426 16.137 38.563 0l88.741-101.045c17.18-18.187 2.203-42.867-29.02-25.063l-79.003 46.931-79.01-46.931z"/></svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a class="footer__list" href="#">About</a></li>
                    <li><a class="footer__list" href="#">Affiliates</a></li>
                    <li><a class="footer__list" href="#">Blog</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading  footer__heading">Support</h2>
                <svg class="icon collapsible__chevron" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512"><path fill-rule="nonzero" d="M256 0c70.684 0 134.695 28.657 181.019 74.981C483.342 121.305 512 185.308 512 256c0 70.691-28.658 134.695-74.981 181.018C390.695 483.342 326.691 512 256 512s-134.695-28.658-181.019-74.982C28.658 390.695 0 326.691 0 256c0-70.692 28.658-134.695 74.981-181.019C121.305 28.657 185.309 0 256 0zm-79.003 200.641c-30.983-17.862-46.316 6.963-29.012 25.063l88.741 101.045c16.129 16.137 22.426 16.137 38.563 0l88.741-101.045c17.18-18.187 2.203-42.867-29.02-25.063l-79.003 46.931-79.01-46.931z"/></svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a class="footer__list" href="#">Contact</a></li>
                    <li><a class="footer__list" href="#">Knowledge Base</a></li>
                    <li><a class="footer__list" href="#">FAQ</a></li>
                </ul>                </div>
        </section>

        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading  footer__heading">Domains</h2>
                <svg class="icon collapsible__chevron" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512"><path fill-rule="nonzero" d="M256 0c70.684 0 134.695 28.657 181.019 74.981C483.342 121.305 512 185.308 512 256c0 70.691-28.658 134.695-74.981 181.018C390.695 483.342 326.691 512 256 512s-134.695-28.658-181.019-74.982C28.658 390.695 0 326.691 0 256c0-70.692 28.658-134.695 74.981-181.019C121.305 28.657 185.309 0 256 0zm-79.003 200.641c-30.983-17.862-46.316 6.963-29.012 25.063l88.741 101.045c16.129 16.137 22.426 16.137 38.563 0l88.741-101.045c17.18-18.187 2.203-42.867-29.02-25.063l-79.003 46.931-79.01-46.931z"/></svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a class="footer__list" href="#">Domain Checker</a></li>
                    <li><a class="footer__list" href="#">Domain Transfer</a></li>
                    <li><a class="footer__list" href="#">Free Domain</a></li>
                </ul>                </div>
        </section>
        <section class="footer__brand">
            <img src="images/logo.svg" alt="">
            <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
        </section>
    </div>
</footer>